@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    display: flex;

}

.nav-l {
    width: 25%;
    height: inherit;
    /* border: 1px solid aqua; */
    padding-left: 100px;
    padding-top: 30px;
}

a {
    font-family: "Poppins", serif;
    text-decoration: none;
    color: #595858;
    font-weight: 300;
    font-size: 15px;
}

.nav-c {
    width: 50%;
    height: inherit;
    /* border: 1px solid aqua; */
    padding-left: 100px;
    padding-top: 30px;
}

#a {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 14px;
    color: #2F2E2E;
    padding-left: 180px;
}

#b {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 30px;
    padding-left: 190px;
    letter-spacing: 2px;
}

.nav-r {
    width: 25%;
    height: inherit;
    /* border: 1px solid aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#c {
    padding-right: 250px;
}

main {
    width: 100%;
    height: 79.7vh;
    background-image: url(./assets/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.info {
    width: 100%;
    height: 100vh;
    display: flex;
}

.info-l {
    width: 50%;
    height: inherit;
    /* background-color: antiquewhite; */
    border-right: 6px solid white;
    border-top: 6px solid white;
}

.info-lt {
    width: 100%;
    height: 35%;
    /* background-color: red; */
    border-bottom: 6px solid white;
    display: flex;
}

.info-lt-l {
    width: 55%;
    height: 100%;
    /* background-color: brown; */
    border-right: 6px solid white;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-lt-r {
    width: 45.2%;
    height: 100%;
    /* background-color: cadetblue; */
    border-left: 6px solid white;
}

#aa {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-lb {
    width: 100%;
    height: 65%;
    /* background-color: violet; */
    border-top: 6px solid white;
    border-bottom: 6px solid white;

}

#bb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-r {
    width: 50%;
    height: inherit;
    /* background-color: aqua; */
    border-left: 6px solid white;
    border-top: 6px solid white;
}

.info-rt {
    width: 100%;
    height: 45%;
    /* background-color: chartreuse; */
    border-bottom: 6px solid white;
    display: flex;
}

.info-rb {
    width: 100%;
    height: 55%;
    /* background-color: crimson; */
    border-top: 6px solid white;
    border-bottom: 6px solid white;
}

.info-rt-l {
    width: 30%;
    height: 100%;
    /* background-color: darkorchid; */
    border-right: 6px solid white;
}

#cc {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-rt-r {
    width: 70%;
    height: 100%;
    /* background-color: darkslategrey; */
    border-left: 6px solid white;
}

#dd {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ee {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-2 {
    width: 100%;
    height: 100vh;
    display: flex;
}

.info-2l {
    width: 30%;
    height: 100%;
    /* background-color: darkorchid; */
    border-top: 6px solid white;
    border-right: 6px solid white;
}

.info-2l-t {
    width: 100%;
    height: 50%;
    border-bottom: 6px solid white;
}

.info-2l-b {
    width: 100%;
    height: 50%;
    border-bottom: 6px solid white;
    border-top: 6px solid white;
}

.info-2r {
    width: 70%;
    height: 100%;
    /* background-color: darkorchid; */
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-bottom: 6px solid white;

}

#ff {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hh {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info3 {
    width: 100%;
    height: 100vh;
    border-top: 6px solid white;
}

#ii {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    width: 100%;
    height: 70vh;
    background-color: #E4F9Ec;
}

.foot {
    width: 100%;
    height: 200px;
    /* background-color: darkblue; */
    display: flex;
    align-items: end;
    justify-content: space-around;
}

#aaa {
    font-family: "Libre Baskerville", serif;
}

#bbb {
    font-family: "Poppins", serif;
    font-weight: 300;
    position: relative;
    left: 630px;
    top: 20px;
    background-color: #FFC7E2;
    letter-spacing: 2px;
    display: inline;
}
input
{
    width: 250px;
    height: 35px;
    margin-top: 50px;
    margin-left: 630px;
    padding-left: 20px;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    background-color: #E4F9Ec;
}
input::placeholder
{
    font-family: "Poppins", serif;
    font-size: 12px;
    font-weight: 300;
}
button
{
    width: 250px;
    height: 35px;
    margin-top: 20px;
    margin-left: 630px;
    border: 2px solid black;
    background-color: #E4F9Ec;
    font-family: "Poppins", serif;
    font-weight: 300;
}
button:hover
{
    background-color: white;
    cursor: pointer;
}
#ccc
{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 110px;
    padding-left: 580px;
}